.dashboard {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
  gap: 50px;

  height: 100%;

  .dashboard-title {
    font-size: 22px;
    font-weight: 500;
  }
  .dashboard-subtitle {
    font-size: 18px;
    font-weight: 500;
  }
}