.home-page {
  .first {
    .top {
      max-width: 710px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      margin: 0 auto;
      text-align: center;
      padding: 45px 0;

      .subtitle {
        background: #F4F8FB;
        padding: 10px 20px;
        border-radius: 15px;
        font-weight: 500;
      }
      .title {
        font-size: 65px;
        font-weight: 700;
      }
      .description {
        font-weight: 300;
        line-height: 28px;
        color: #0F172ACC;
      }
    }
    .bottom {
      width: max-content;
      margin: 0 auto;
      background-color: #F4F8FB;
      border-radius: 15px;
      padding: 10px;
      display: flex;
      gap: 15px;
      margin-bottom: 35px;

      .input {
        background-color: #fff;
        border-radius: 15px;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px 15px;

        &::after {
          content: '';
          background: url('data:image/svg+xml,<svg width="15" height="9" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L5 5L9 1" stroke="%230F172A" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/></svg>');
          background-repeat: no-repeat;
          display: block;
          right: 0;
          width: 15px;
          height: 9px;
        }
      }

      .button {
        padding-left: 25px;
        padding-right: 25px;
        font-weight: 500;
      }
    }

    @media screen and (max-width: 912px) {
      .top .title {
        font-size: 32px;
      }
      .top .subtitle, .top .description {
        font-size: 15px;
      }
    }
  }
  
  .second {
    margin-bottom: 55px;
    .button {
      width: 200px;
      margin: 0 auto;
    }
    .list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 300px));
      justify-content: center;
      row-gap: 35px;
      column-gap: 12px;
      margin-bottom: 35px;

      .block {
        display: flex;
        flex-direction: column;
        gap: 14px;

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
          aspect-ratio: 1.5;
          border-radius: 20px;
        }

        .location {
          font-weight: 500;
        }
        .info {
          color: #0F172A80;
        }
        .price {
          font-weight: 500;
        }
      }
    }
  }

  .third {
    background-color: #0F172A;
    padding: 50px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #fff;
    margin-bottom: 75px;

    .subtitle {
      background-color: #272E3F;
      border-radius: 15px;
      padding: 10px 20px;
    }

    .title {
      font-size: 45px;
      font-weight: 700;
    }

    .description {
      line-height: 28px;
      opacity: 0.8;
      margin-bottom: 35px;
    }

    .list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 25px;

      .block {
        background-color: #FFFFFF1A;
        padding: 30px 20px;
        border-radius: 20px;
        
        display: flex;
        flex-direction: column;
        align-items: center;

        svg {
          margin-bottom: 15px;
        }

        .title {
          font-size: 22px;
          font-weight: 700;
          line-height: 26px;
          margin-bottom: 10px;
        }
        .content {
          text-align: center;
          font-weight: 300;
          line-height: 30px;
        }
      }
    }

    @media screen and (max-width: 912px) {
      padding: 35px 25px;
      .subtitle {
        font-size: 15px;
      }
      .title {
        font-size: 24px;
      }
      .description {
        text-align: center;
      }
    }
  }

  .fourth {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-bottom: 65px;

    img {
      width: 100%;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: start;
      padding: 25px 0;

      .subtitle {
        background: #F4F8FB;
        padding: 10px 20px;
        border-radius: 15px;
        font-weight: 500;
        margin-bottom: 5px;
      }
      .title {
        margin-bottom: 15px;
        font-size: 45px;
        font-weight: 700;
        line-height: 60px;
      }
      .description {
        line-height: 28px;
        font-weight: 300;
        margin-bottom: 20px;
      }
      .button {
        width: 200px;
      }
    }

    @media screen and (max-width: 912px) {
      grid-template-columns: 1fr;      
      gap: 25px;

      .content {
        gap: 20px;
        padding: 0;

        .title {
          font-size: 24px;
          line-height: 32px;
          margin: 0;
        }
      }
    }
    
  }

  .fifth {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-bottom: 65px;

    img {
      width: 100%;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: start;
      padding: 25px 0;

      .subtitle {
        background: #F4F8FB;
        padding: 10px 20px;
        border-radius: 15px;
        font-weight: 500;
        margin-bottom: 5px;
      }
      .title {
        margin-bottom: 15px;
        font-size: 45px;
        font-weight: 700;
        line-height: 60px;
      }
      .description {
        line-height: 28px;
        font-weight: 300;
        margin-bottom: 20px;
      }
      .button {
        width: 200px;
      }
    }

    @media screen and (max-width: 912px) {
      display: flex;    
      flex-direction: column-reverse;
      gap: 25px;

      .content {
        gap: 20px;
        padding: 0;

        .title {
          font-size: 24px;
          line-height: 32px;
          margin-bottom: 0;
        }
      }
    }
    
  }

  .sixth {
    background-color: #0F172A;
    padding: 50px;
    border-radius: 25px;
    color: #fff;
    margin-bottom: 50px;
    
    .top {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      margin-bottom: 35px;

      .subtitle {
        background-color: #272E3F;
        border-radius: 15px;
        padding: 10px 20px;
      }
      .title {
        font-weight: 700;
        font-size: 45px;
        line-height: 54px;
      }
      .description {
        color: #FFFFFFCC;
        font-weight: 300;
        line-height: 28px;
      }
    }

    .list {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .accordion {
        background-color: #272E3F;
        padding: 20px 35px 0 35px;
        border-radius: 20px;
        overflow: hidden;

        .head {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 20px;
          user-select: none;
          cursor: pointer;
          
          .toggle-button {
            width: 40px;
            height: 40px;
            border: none;
            cursor: pointer;
            outline: none;
            position: relative;
          }
          
          .toggle-button::before,
          .toggle-button::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 60%;
            height: 5px;
            background-color: #fff;
            transform: translate(-50%, -50%);
            border-radius: 5px;
            transition: 0.15s;
          }
          .toggle-button::after {
            transform: translate(-50%, -50%) rotate(90deg);
          }
          .toggle-button::after {
            transform-origin: center;
          }
        }

        .bottom {
          transition: height 0.25s ease;
          overflow: hidden;
          height: 0;
        }
      }

      .accordion.show {
        .head {
          .toggle-button::after {
            transform: translate(-50%, -50%);
          }
        }
        .bottom {
          height: 100px;
        }
      }
    }

    @media screen and (max-width: 912px) {
      padding: 20px;
      .top {
        .title {
          font-size: 24px;
        }
        .description {
          text-align: center;
        }
      }
    }
  }
}