.settings-page {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  .form {
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 10px 2px 50px 0px #0000000D;

    .form-title {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 15px;
    }
  }

  .upload-photo {
    .content {
      display: flex;
      align-items: center;
      gap: 15px;

      img {
        width: 65px;
        height: 65px;
        border-radius: 100%;
        object-fit: cover;
      }

      #photo {
        display: none;
      }
    }
  }

  .personal {
    .box {
      display: grid;
      grid-template-columns:  1fr;
      row-gap: 15px;
      column-gap: 20px;

      .input-box {
        display: flex;
        flex-direction: column;
        gap: 10px;

        label {
          font-size: 14px;
        }

        input, textarea {
          width: 100%;
          background: #F7F7F7;
          padding: 15px 20px;
          border-radius: 20px;
          font-size: 15px;
        }

        textarea {
          outline: none;
          border: none;
          resize: none;
          overflow: hidden;
        }
      }

      button {
        font-weight: 500;
        font-size: 15px;
      }
    }

    @media screen and (max-width: 712px) {
      .box {
        grid-template-columns: 1fr;
      }
    }
  }

  .change-password {
    .box {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 15px;
      column-gap: 20px;

      .input-box {
        display: flex;
        flex-direction: column;
        gap: 10px;

        label {
          font-size: 14px;
        }

        input {
          width: 100%;
          background: #F7F7F7;
          padding: 15px 20px;
          border-radius: 20px;
          font-size: 15px;
        }
      }

      button {
        font-weight: 500;
        font-size: 15px;
      }
    }
    @media screen and (max-width: 712px) {
      .box {
        grid-template-columns: 1fr;

        .empty {
          display: none;
        }
      }
    }
  }
}