.estate-page {
  padding-top: 36px;

  .pictures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    overflow: hidden;
    margin-bottom: 25px;

    img {
      border-radius: 20px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .big {
      height: 450px;
    }
    .small {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      height: 450px;
    }
  }

  .information {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;

    .box {
      background: #fff;
      box-shadow: 10px 2px 50px 0px #0000000D;
      border-radius: 15px;
      padding: 20px;
    }

    .left {
      .description {
        font-weight: 300;
        line-height: 28px;

        .subtitle {
          font-weight: 600;
        }
      }

    }

    .right {
      .details {
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        .rooms {
          background: #F8F8F8;
          border-radius: 15px;
          padding: 15px;
          display: flex;
          align-items: center;
          justify-content: space-around;

          .item {
            display: flex;
            align-items: center;
            gap: 10px;
          }
        }

        .price {
          background: #fff;
          padding: 20px;
          border-radius: 15px;
          display: grid;
          grid-template-columns: 1fr 1fr;
          box-shadow: 10px 2px 50px 0px #0000000D;

          .item {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .caption {
              font-size: 14px;
            }
            .cash {
              font-size: 22px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
